<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nowhug.fookey.screenlocker">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".ScreenLockerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <activity android:name=".LockerActivity"
            android:excludeFromRecents="true">

        </activity>
        <activity android:name=".MyActivity"
            android:excludeFromRecents="true"></activity>

        <service android:name=".LockerService"
            android:enabled="true">
            <intent-filter>
                <action android:name="me.nowhug.fookey.LockService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
